@import '../../color.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import 'solicitacao.component';

.container-header {
  position: relative;
  box-shadow: none;
  & {
    color: $brown;
    font-family: "Poppins SemiBold", sans-serif;
  }

  .label {
    font-family: "Poppins ExtraLight", sans-serif;
    margin-right: 5px;
  }
}

.container-request {
  padding: 10px;
  height: 62%;
  min-height: 300px;

  & {
    color: $brown;
    font-family: "Poppins Light", sans-serif;
    background-color: $mediumGrayTransparent;
    border-radius: 20px;
  }

  .main-content {
    padding: 10px;
    width: 97%;
    height: 95%;
    min-height: 300px;

    & {
      background-color: rgba($lightGray, 0.7);
      border-radius: 10px;
    }

    .header-main-content {
      display: flex;
      position: relative;
      width: 94%;
      padding-bottom: 10px;

      & {
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        font-family: "Poppins Medium", sans-serif;
        line-height: 28px;
        color: $brown;
      }

      .btn-urgency-container {
        display: inline;
        position: relative;
        padding: 8px 12px;
        margin-left: 0;
        width: 120px;
        & {
          transition: 1s;
          cursor: pointer;
          border-radius: 20px;
          border: 1px solid $mediumGray;
          background-color: $mediumGrayTransparent;
          outline: none;
          text-align: left;
          font-family: "Poppins SemiBold", sans-serif;
          color: $white;
        }

        .icon-watch {
          transition: 1s;
          position: absolute;
          right: 8px;
          top: 4px;
          color: $white;
          background-color: $mediumGray;
          padding: 4px 9px;
          border-radius: 25px;
        }
      }

      .enable-urgency-container {
        transition: 1s;
        background-color: $danger !important;
        border: 1px solid #6f0000 !important;

        .enable {
          transition: 1s;
          background-color: $lightDanger !important;
        }

      }
      #qnt {
        margin-right: 10px;
      }

    }

    .item-header {
      display: inline;
      @media only screen and(max-width: 1024px) {
        font-size: 20px;
      }
    }

  }
}

.scroll {
  width: 97%;
  max-height: 92%;
  padding: 0 10px;
}

.container-items {
  width: 98%;
  padding: 5px 10px;
  margin-top: 10px;
  & {
    background-color: $lightGray;
    border-top: 2px solid $brown;
  }

  .qnt-flex {
    flex: 1 !important;
  }

  .labels {
    display: flex;

    & {
      justify-content: space-between;
      font-family: "Poppins Medium", sans-serif;
      font-size: 20px;
    }

    .label {
      margin-left: 0;
      flex: 2;
    }
  }

  .items {
    height: 80px;
    display: flex;
    & {
      font-size: 16px;
      justify-content: space-between;
    }
  }

  .item {
    flex: 2;
    margin-right: 10px;
    margin-left: 0;
  }
}

.container-list {
  height: 80px;
}

.button {
  margin: 10px;
}

.left-aside {
  display: inline-block;
  float: left;
}

.label, .label-description {
  display: inline;
}

.right-aside {
  display: inline-block;
  position: relative;
  right: 0;

  .label, .label-description {
    text-align: right;
    float: right;
  }
}