<div class="col-12 float-left" role="main">
    <div class="col-4 form-group float-right">
        <form [formGroup]="searchForm">
            <input type="text"
                   formControlName="searchControl"
                   class="form-control filter-control col-5 float-right"
                   placeholder="Buscar perfil..." #field>
        </form>
    </div>
    <hcal-table tableName="Perfil - Quantidade {{ this.count }}">
        <table class="table-default">
            <tr class="trow-head">
                <th class="thead-default">Nome</th>
                <th class="thead-default" thead-content colspan="2">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </th>
            </tr>
            <tr class="trow-content" *ngFor="let perfil of this.perfilList
            | paginate: { currentPage: this.pageNumber, itemsPerPage: 10, totalItems: this.count }">
                <td class="tdata-default">{{ perfil.name }}</td>
                <td class="tdata-default">
                    <a class="edit" [routerLink]="['/perfil', 'edit', perfil.id]">
                        <fa-icon [icon]="['fas', 'edit']" class="color-blue icon-config"></fa-icon>
                    </a>|
                    <a class="edit" [routerLink]="['/perfil', 'show', perfil.id]">
                        <fa-icon [icon]="['fas', 'eye']" class="color-blue icon-config"></fa-icon>
                    </a>
                </td>
            </tr>
        </table>
        <div class="not-found" *ngIf="this.perfilList.length == 0">
            <h1 class="not-found-error" *ngIf="this.searchControl.value == ''">Não há dados cadastrados</h1>
            <h1 class="not-found-error" *ngIf="this.searchControl.value != ''">Nenhum registro encontrado</h1>
        </div>
    </hcal-table>
    <pagination-controls *ngIf="this.count > 10" (pageChange)="this.pageNumber = $event" previousLabel="" nextLabel=""
                         [directionLinks]="true"></pagination-controls>
</div>
<div class="container-floating">
    <div class="floating-button" tooltip="Novo" [placement]="'top'"
         [show-delay]="500">
        <a [routerLink]="['/perfil','create']" class="create a-link-page">
            <p class="plus">+</p>
        </a>
    </div>
</div>