<div class="col-12 float-left" role="main">
    <div class="col-4 form-group float-right">
        <form [formGroup]="searchForm">
            <input type="text"
                   formControlName="searchControl"
                   class="form-control filter-control col-5 float-right"
                   placeholder="Buscar setor..." #field>
        </form>
    </div>
    <hcal-table tableName="Setor - Quantidade {{ count }}">
        <table class="table-default">
            <tr class="trow-head">
                <th class="thead-default">nome</th>
                <th class="thead-default">necessita autorização</th>
                <th class="thead-default" thead-content colspan="2">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </th>
            </tr>
            <tr class="trow-content" *ngFor="let setor of setorList
            | paginate: { currentPage: pageNumber, itemsPerPage: 10, totalItems: this.count }">
                <td class="tdata-default">{{ setor.nome }}</td>
                <td class="tdata-default">{{ setor.necessitaAutorizacao ? 'Sim' : 'Não' }}</td>
                <td class="tdata-default">
                    <a class="edit" [routerLink]="['/setor', 'edit', setor.id]">
                        <fa-icon [icon]="['fas', 'edit']" class="color-blue icon-config"></fa-icon>
                    </a>|
                    <a class="edit" [routerLink]="['/setor', 'show', setor.id]">
                        <fa-icon [icon]="['fas', 'eye']"  class="color-blue icon-config"></fa-icon>
                    </a>
                </td>
            </tr>
        </table>
        <div class="not-found" *ngIf="setorList.length == 0">
            <h1 class="loading-style color-blue" *ngIf="loading">Carregando...</h1>
            <h1 class="not-found-error" *ngIf="!loading">
                Nenhum dado encontrado
            </h1>
        </div>
    </hcal-table>
    <pagination-controls *ngIf="this.count > 10" (pageChange)="this.pageNumber = $event" previousLabel="" nextLabel=""
                         [directionLinks]="true"></pagination-controls>
</div>
<div class="container-floating">
    <div class="floating-button" tooltip="Novo" [theme]="'light'" [placement]="'top'" [show-delay]="500">
        <a [routerLink]="['/setor','create']" class="create a-link-page">
            <p class="plus">+</p>
        </a>
    </div>
</div>