//HCAL Colors
$green: #00ABA5;
$lightGreen: #4DC2B3;
$greenHover: rgba(0,171,165,0.45);
$blue: #2B517E;
$blueHover: rgba(41,81,126,0.2);
$blueHoverTransparent: rgba(41,81,126,0.1);
$lightBlue: #0096c8;

//Neutral Colors
$black: #000;
$gray: #575756;
$mediumGray: #999999;
$mediumGrayTransparent: rgba(153,153,153,0.35);
$lightGray: #F2F2F2;
$white: #fff;

//Default Status Colors
$danger: #D12D33;
$lightDanger: #EE7875;
$lightWarning: #FFBF00;
$primary: #007bff;
$lightPrimary: rgba($blue, 0.6);
$success: #1e7e34;
$warning: #EF9B0F;