<hcal-aside-bar [urlLogo]="'images/logo.png'" *ngIf="isLogged">
    <hcal-link [iconLink]="'home'" [routerLinkName]="'index'" [titleLink]="'Home'" main-menu></hcal-link>
    <hcal-link [iconLink]="'industry'" [routerLinkName]="'fabricante'" [titleLink]="'Fabricantes'" main-menu></hcal-link>
    <hcal-link [iconLink]="'briefcase'" [routerLinkName]="'fornecedor'" [titleLink]="'Fornecedores'" main-menu></hcal-link>
    <hcal-link [iconLink]="'box'" [routerLinkName]="'item'" [titleLink]="'Itens'" main-menu></hcal-link>
    <hcal-link [iconLink]="'user-circle'" [routerLinkName]="'perfil'" [titleLink]="'Perfil'" main-menu></hcal-link>
    <hcal-link [iconLink]="'user'" [routerLinkName]="'usuario'" [titleLink]="'Usuários'" main-menu></hcal-link>
    <hcal-link [iconLink]="'users'" [routerLinkName]="'setor'" [titleLink]="'Setores'" main-menu></hcal-link>
    <hcal-link [iconLink]="'box-open'" [routerLinkName]="'almoxarife'" [titleLink]="'Almoxarifado'" main-menu></hcal-link>
</hcal-aside-bar>
<hcal-main [title]="'HSUP'" *ngIf="isLogged">
    <hcal-nav [hiddenCog]="false" nav-main>
        <hcal-notification-dropdown class="dropdown"
                                    [titleNotificationDropdown]="'Title'"
                                    [textNotificationDropdown]="'Text'"
                                    [typeNotificationDropdown]="'danger'" dropdown>
            <fa-icon [icon]="['fas', 'bell']" class="icon-image dropdown-toggle" dropdownToggle></fa-icon>
        </hcal-notification-dropdown>
    </hcal-nav>
    <router-outlet route></router-outlet>
</hcal-main>

<router-outlet name="login" *ngIf="!isLogged"></router-outlet>