<hcal-aside-bar [urlLogo]="'images/logo.png'" *ngIf="isLogged">
    <div *ngIf="this.currentRoute != '/solicitacao/create'" main-menu>
        <hcal-link *ngIf="checkPermission('ROLE_APPLICATION_INDEX')" [iconLink]="'home'" [routerLinkName]="'index'"
                   [sizeLink]="'small'" [titleLink]="'Home'" main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_FABRICANTE_INDEX')" [iconLink]="'industry'"
                   [sizeLink]="'small'" [routerLinkName]="'fabricante'" [titleLink]="'Fabricantes'"
                   main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_FORNECEDOR_INDEX')" [iconLink]="'briefcase'"
                   [sizeLink]="'small'" [routerLinkName]="'fornecedor'" [titleLink]="'Fornecedores'"
                   main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_ITEM_INDEX')" [iconLink]="'boxes'" [routerLinkName]="'item'"
                   [sizeLink]="'small'" [titleLink]="'Itens'" main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_PERFIL_INDEX')" [iconLink]="'user-circle'"
                   [sizeLink]="'small'" [routerLinkName]="'perfil'"
                   [titleLink]="'Perfil'" main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_PERMISSOES_INDEX')" [iconLink]="'key'"
                   [sizeLink]="'small'" [routerLinkName]="'permissoes'"
                   [titleLink]="'Permissões'" main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_USUARIO_INDEX')" [iconLink]="'user'" [routerLinkName]="'usuario'"
                   [sizeLink]="'small'" [titleLink]="'Usuários'" main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_SETOR_INDEX')" [iconLink]="'users'" [routerLinkName]="'setor'"
                   [sizeLink]="'small'" [titleLink]="'Setores'" main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_SOLICITACAO_INDEX')" [iconLink]="'clipboard-list'"
                   [sizeLink]="'small'" [routerLinkName]="'solicitacao'" [titleLink]="'Solicitação'"
                   main-menu></hcal-link>
        <hcal-link *ngIf="checkPermission('ROLE_SOLICITACAO_INDEX')"
                   [sizeLink]="'small'" [iconLink]="'box-open'" [routerLinkName]="'almoxarife'"
                   [titleLink]="'Almoxarifado'"
                   main-menu></hcal-link>
    </div>
</hcal-aside-bar>
<hcal-main [title]="'HSUP'" *ngIf="isLogged">
    <hcal-nav [cog]="false" nav-main>
        <span class="current-user" current-user>{{ currentUser.getItem('name') }}</span>
        <fa-icon [icon]="['fas', 'sign-out-alt']" (click)="logout()" class="icon-nav" logout></fa-icon>
    </hcal-nav>
    <router-outlet route></router-outlet>
</hcal-main>

<router-outlet name="login" *ngIf="!isLogged"></router-outlet>