<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/produto','list']" class="list">Produto List</a></li>
    </ul>
</div>
<div id="persist-produto" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Produto</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
  <div class="fieldcontain required">
    <label for="quantidade">Quantidade
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="quantidade" id="quantidade" [(ngModel)]="produto.quantidade" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="descricao">Descricao
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="descricao" id="descricao" [(ngModel)]="produto.descricao" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="setor">Setor
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="setor" id="setor" [(ngModel)]="produto.setor" type="text" />
  </div>
</fieldset>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>