<a [routerLink]="['/usuario']">
    <fa-icon [icon]="['fas', 'chevron-left']" class="float-left back-icon-link"></fa-icon>
    <h4 class="title-back-link">Voltar</h4>
</a>
<div class="clearfix"></div>
<main class="col-6 float-left form-container offset-0">
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>
    <hcal-modal *ngIf="this.message != null" [modalMessage]="this.message" [modalType]="'success'"></hcal-modal>
    <h3 class="title-component">{{ this.constructor.name | slice : 0:-16 }} - {{create ? "Cadastro" : "Alteração"}}</h3>
    <form name="save{className}" (ngSubmit)="save()" class="float-left form-default col-12">
        <div class="form-group position-relative col-12">
            <label for="nome" class="control-label">Nome</label>
            <input type="text"
                   name="nome"
                   tooltipHcal="Campo nome do Usuário. Ex.: Roseane Cipriano"
                   [position]="'top'"
                   [delay]="3000"
                   required="required"
                   id="nome"
                   placeholder="Digite o nome..."
                   [(ngModel)]="usuario.name"
                   [class]="'form-control col-12'">
        </div>
        <div class="form-group position-relative col-5">
            <label class="control-label" for="username">Nome de usuário</label>
            <input type="text"
                   name="username"
                   id="username"
                   tooltipHcal="Campo nome do Usuário. Ex.: Roseane Cipriano"
                   [position]="'top'"
                   [delay]="3000"
                   required="required"
                   placeholder="Digite o nome de usuário..."
                   [class]="'form-control col-12'"
                   [(ngModel)]="usuario.username">
        </div>
        <div class="form-group position-relative col-5 offset-2">
            <label class="control-label" for="password">Senha do usuário</label>
            <input type="password"
                   name="password"
                   id="password"
                   tooltipHcal="Campo senha do Usuário. Ex.: senha_2019"
                   [position]="'top'"
                   [delay]="3000"
                   required="required"
                   placeholder="Digite a senha do usuário..."
                   [class]="'form-control col-12'"
                   [(ngModel)]="usuario.password">
        </div>
        <div class="form-group position-relative col-5">
            <label for="perfil" class="control-label">Perfil</label>
            <select id="perfil" name="perfil" class="form-control col-12" [(ngModel)]="usuario.perfil.id != undefined ? usuario.perfil.id : usuario.perfil">
                <option *ngFor="let perfil of aPerfis" [value]="perfil.id"
                        [selected]="usuario.perfil?.id == perfil.id">{{ perfil.name }}
                </option>
            </select>
        </div>
        <div class="form-group position-relative col-5 offset-2">
            <label for="authorities" class="control-label">Permissões</label>
            <select name="authorities" id="authorities" [(ngModel)]="usuario.authorities" multiple="">
                <option *ngFor="let permissoes of aPermissoes" [value]="permissoes.id"
                        [selected]="usuario.authorities == permissoes.id">{{ permissoes.authority }}
                </option>
            </select>
        </div>
        <div *ngIf="this.create == false" class="form-group col-12">
            <label class="control-label">Estado</label>
            <input type="checkbox" [(ngModel)]="usuario.enabled" class="checkbox-filled" id="estado" name="ativo">
            <label for="estado" class="checkbox-label">Ativo</label>
        </div>
        <input type="submit" class="save button button-blue float-right col-3" [value]="create ? 'Salvar' : 'Alterar'"/>
    </form>
</main>