<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/permissoes','list']" class="list">Permissoes List</a></li>
    </ul>
</div>
<div id="persist-permissoes" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Permissoes</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
  <div class="fieldcontain required">
    <label for="authority">Authority
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="authority" id="authority" [(ngModel)]="permissoes.authority" type="text" />
  </div>
</fieldset>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>