<header class="container-header col-11" #header>
    <section class="title-header col-12">
        <h2>Associação</h2>
        <h2>Item x Produto WPD</h2>
    </section>
    <aside class="float-left col-6">
        <h4 class="label">Solicitante:</h4>
        <h3 class="label-description">{{ solicitacao?.responsavel?.name }}</h3>
    </aside>

    <aside class="float-right text-right col-6">
        <h4 class="label">Nº da Solicitação:</h4>
        <h3 class="label-description"></h3>
    </aside>

    <aside class="float-left col-6">
        <h4 class="label">Setor:</h4>
        <h3 class="label-description">{{ solicitacao?.setor?.nome }}</h3>
    </aside>

    <aside class="float-right text-right col-6">
        <h4 class="label">Data:</h4>
        <h3 class="label-description"> {{solicitacao?.data | date:'dd/MM/yyyy'}}</h3>
    </aside>
</header>

<main class="container-request col-11">
    <header class="main-content-header col-12">
        <aside class="left-aside col-6">
            <h2 class="title col-12">ITEM SOLICITAÇÃO</h2>
        </aside>
        <aside class="right-aside col-6">
            <h2 class="title col-12">PRODUTO WPD</h2>
        </aside>
    </header>
    <hcal-modal *ngIf="this.message != null" [modalMessage]="this.message" [modalType]="'success'"></hcal-modal>
    <section class="main-content">
        <perfect-scrollbar>
            <section class="section-line col-12" [formGroup]="form" *ngFor="let item of solicitacao.itens; index as i">
                <div formGroupName="{{i}}">
                    <aside class="float-left col-4">
                        <div class="request-form-group col-9">
                            <label class="request-label label-left col-6"><I></I>Item</label>
                            <input formControlName="descricao" class="request-item col-6"
                                   readonly>
                        </div>

                        <div class="request-form-group col-3">
                            <label class="request-label label-right col-12">Qnt</label>
                            <input formControlName="quantidade" class="request-item text-right col-12"
                                   value="{{qnt.value + ' ' + item.unidadeMedida}}"
                                   type="text" readonly #qnt>
                        </div>
                    </aside>
                    <fa-icon class="arrows-icon col-1" [icon]="['fas', 'arrows-alt-h']"></fa-icon>
                    <aside class="right-aside col-7" formGroupName="produto">

                        <div class="request-form-group col-7">
                            <label for="{{i}}" class="request-label label-left col-6">Produto</label>
                            <input id="{{i}}" formControlName="descricao" (focus)="find($event.target)"
                                   (blur)="wpdProducts.length > 0 || hasItems!=null ? clearInputs(): '' "
                                   autocomplete="off"
                                   class="request-input-line-bottom col-12" type="text">

                            <div *ngIf="hasItems != null && currentInput.value != '' && currentInput.id == i">
                                {{hasItems}}
                            </div>

                            <div class="scroll" infiniteScroll [scrollWindow]="false"
                                 (scrolled)="find(currentInput, true)"
                                 *ngIf="wpdProducts.length > 0 && currentInput.id == i && currentInput.value != ''">

                                <div (mousedown)="select(wpdPro)" class="item"
                                     *ngFor="let wpdPro of wpdProducts">
                                    {{wpdPro.descricao}}
                                </div>
                            </div>
                        </div>

                        <div class="request-form-group col-2">
                            <label for="cod{{i}}" class="request-label label-right col-12">Código</label>
                            <input id="cod{{i}}" formControlName="id" class="request-item text-right col-12"
                                   readonly>
                        </div>
                        <div class="request-form-group col-2">
                            <label for="stock{{i}}" class="request-label label-right col-12">Estoque</label>
                            <input id="stock{{i}}" formControlName="estoque" class="request-item text-right col-12"
                                   readonly>
                        </div>
                    </aside>
                </div>
            </section>
        </perfect-scrollbar>
    </section>
</main>
<div class="col-11">
    <button (click)="save()" class="float-right button button-blue btn-almoxarife col-2">Finalizar</button>
    <button [routerLink]="['/almoxarife']" class="float-right button btn-almoxarife col-2">Voltar</button>
</div>
