<header class="container-header col-11" #header>
    <section class="title-header col-12">
        <h2>Associação</h2>
        <h2>Item x Produto WPD</h2>
    </section>

    <aside class="float-left col-6">
        <h4 class="label">Solicitante:</h4>
        <h3 class="label-description">{{requestUser}}</h3>
    </aside>

    <aside class="float-right text-right col-6">
        <h4 class="label">Nº da Solicitação:</h4>
        <h3 class="label-description"> {{requestNumber}}</h3>
    </aside>

    <aside class="float-left col-6">
        <h4 class="label">Setor:</h4>
        <h3 class="label-description">{{sector}}</h3>
    </aside>

    <aside class="float-right text-right col-6">
        <h4 class="label">Data:</h4>
        <h3 class="label-description">{{date}}</h3>
    </aside>
</header>

<main class="container-request col-11">
    <header class="main-content-header col-12">
        <aside class="left-aside col-6">
            <h2 class="title col-12">ITEM SOLICITAÇÃO</h2>
        </aside>
        <aside class="right-aside col-6">
            <h2 class="title col-12">PRODUTO WPD</h2>
        </aside>
    </header>
    <section class="main-content">
        <perfect-scrollbar>
            <section class="section-line col-12" *ngFor="let itemRequest of itemsRequest; index as i">
                <aside class="float-left col-4">
                    <div class="request-form-group col-9">
                        <label class="request-label label-left col-6"><I></I>Item</label>
                        <input title="Descrição do Item" class="request-item col-6" value="{{itemRequest.descricao}}"
                               disabled>
                    </div>

                    <div class="request-form-group col-3">
                        <label class="request-label label-right col-12">Qnt</label>
                        <input title="Quantidade de Itens" class="request-item text-right  col-12"
                               value="{{itemRequest.qnt}} {{itemRequest.unidade}}"
                               type="text">
                    </div>
                </aside>
                <fa-icon class="arrows-icon col-1" [icon]="['fas', 'arrows-alt-h']"></fa-icon>
                <aside class="right-aside col-7" [formGroup]="form">
                    <div formGroupName="products" class="request-form-group col-7">

                        <label for="{{i}}" class="request-label label-left col-6">Produto</label>
                        <input formControlName="product{{i}}" id="{{i}}"
                               (focus)="find($event.target, false)" class="request-input-line-bottom col-12" type="text"
                               #search>

                        <div class="scroll" infiniteScroll [scrollWindow]="false" (scrolled)="find(currentInput, true)"
                             *ngIf="wpdProducts.length > 0 && currentInput == search">

                            <div (click)="select(itemWpd)" class="item"
                                 *ngFor="let itemWpd of wpdProducts">{{itemWpd.descricao}}

                            </div>
                        </div>
                    </div>

                    <div formGroupName="cods" class="request-form-group col-2">
                        <label class="request-label label-right col-12">Código</label>
                        <input formControlName="cod{{i}}" id="codPro{{i}}" class="request-item text-right col-12"
                               value=""
                               readonly #codPro>
                    </div>
                    <div formGroupName="stocks" class="request-form-group col-2">
                        <label class="request-label label-right col-12">Estoque</label>
                        <input formControlName="stock{{i}}" id="stock{{i}}" class="request-item text-right col-12"
                               value=""
                               readonly #stock>
                    </div>
                </aside>

                <fa-icon *ngIf="stock.value >= itemRequest.qnt && stock.value > 0 && stock.value!= ''"
                         class="color-success icon-status col-1" [icon]="['fas', 'check']"></fa-icon>
                <fa-icon *ngIf="stock.value >0 && stock.value < itemRequest.qnt && stock.value!= ''"
                         class="color-warning icon-status col-1" [icon]="['fas', 'exclamation-circle']"></fa-icon>
                <fa-icon *ngIf="stock.value == 0 && stock.value!= ''" class="color-danger icon-status col-1"
                         [icon]="['fas', 'times']"></fa-icon>
            </section>
        </perfect-scrollbar>
    </section>
</main>
<div class="col-11">
    <button class="float-right button button-blue btn-almoxarife col-2">Finalizar</button>
    <button class="float-right button btn-almoxarife col-2">Voltar</button>
</div>
