@import '../../color';
@import '~wfk-poppins/poppins';
@import '../../fonts/roboto';

.thead-association {
  max-width: 100px;
  line-height: 15px !important;
}

.urgente {
  text-transform: capitalize;
  font-weight: bold;
  color: $danger;
}

.normal{
  text-transform: capitalize;
}

