<div class="col-12 float-left" role="main">
    <div class="col-4 form-group float-right">
        <form [formGroup]="searchForm">
            <input type="text"
                   formControlName="searchControl"
                   class="form-control filter-control col-5 float-right"
                   placeholder="Buscar fabricante...">
        </form>
    </div>
    <hcal-table tableName="Solicitações {{ count }}">
        <table class="table-default">
            <tr class="trow-head">
                <th class="thead-default" thead-content>Nº</th>
                <th class="thead-default" thead-content>Responsável</th>
                <th class="thead-default" thead-content>Setor</th>
                <th class="thead-default" thead-content>Data</th>
                <th class="thead-default" thead-content>Item x Produto</th>
                <th class="thead-default" thead-content>Prioridade</th>
                <th class="thead-default" thead-content>
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </th>
            </tr>
            <tr class="trow-content"
                *ngFor="let solicitacao of solicitacaoList | paginate:
                 { currentPage: pageNumber, itemsPerPage: 10, totalItems: count }">
                <td class="tdata-default">{{ solicitacao.id }}</td>
                <td class="tdata-default">{{ solicitacao?.responsavel?.name }}</td>
                <td class="tdata-default">{{ solicitacao?.responsavel?.setor.nome }}</td>
                <td class="tdata-default">{{ solicitacao?.dateCreated | date: 'd/MM/yyyy hh:mm' }}</td>
                <td class="tdata-default">
                    Total: {{solicitacao.itens.length}} | Associados: {{ countItemsAssociados(solicitacao) }}
                </td>
                <td>
                    <p [ngClass]="getPriority(solicitacao)"> {{getPriority(solicitacao)}} </p>
                </td>
                <td class="tdata-default">
                    <a [routerLink]="['/almoxarife', 'associar', solicitacao.id]">
                        <fa-icon [icon]="['fas', 'eye']" class="color-blue icon-config"></fa-icon>
                    </a>
                </td>
            </tr>
        </table>
        <div class="not-found" *ngIf="solicitacaoList.length == 0">
            <h1 class="loading-style color-blue" *ngIf="loading">Carregando...</h1>
            <h1 class="not-found-error" *ngIf="solicitacaoList.length == 0 && !loading ">
                Nenhum dado encontrado
            </h1>
        </div>
    </hcal-table>
    <pagination-controls *ngIf="count > 10"
                         (pageChange)="pageNumber = $event" previousLabel="" nextLabel=""
                         [directionLinks]="true"></pagination-controls>
</div>
<div class="container-floating">
    <div class="floating-button">
        <a><p class="plus">+</p></a>
    </div>
</div>