@import '../../color.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.container-header {
  margin-bottom: 1em;

  & {
    color: $brown;
    font-family: "Poppins", sans-serif;
  }

  .title-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .content-header {
    display: flex;
    justify-content: space-between;

    & > * {
      text-transform: capitalize;
      margin: 0;

      .title-label {
        font-weight: normal;
        margin-bottom: 3px;

        .title-value {
          font-size: 18px;
        }
      }

      .urgente {
        color: $danger;
      }
    }
  }
}

.container-request {
  height: 60%;
  min-height: 420px;

  & {
    color: $brown;
    font-family: "Poppins Light", sans-serif;
    background-color: $mediumGrayTransparent;
    border-radius: 20px;
  }

  .title {
    display: inline-block;
    margin-top: 0.8em;
    font-family: "Poppins ExtraBold", sans-serif;
    text-align: center;
  }

  .main-content-header {
    margin-bottom: 15px;
  }

  .main-content {
    padding: 10px;
    height: 75%;
    min-height: 200px;
    width: 95%;

    & {
      background-color: rgba($lightGray, 0.7);
      border-radius: 10px;
    }

    .section-line {
      position: relative;
      max-height: 60px;
    }

    .icon-status {
      position: absolute;
      display: inline;
      font-size: 1.1em;
      right: 15px;
      top: 1.2em;

      @media screen and (max-width: 1024px) {
        font-size: 0.9em;
        top: 1.5em;
        right: 25px;
      }
    }
  }

  .arrows-icon {
    float: left;
    font-size: 1.5em;
    margin: 0.7em 0 0 0;
    text-align: center;
  }
}

.left-aside {
  display: inline-block;
}

.right-aside {
  position: relative;
  display: inline-block;
  right: 0;
}

.request-form-group {
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;

  .request-label {
    float: left;
    display: block;

    & {
      font-size: 0.8em;
    }
  }

  .request-item {
    position: relative;
    width: 100%;

    & {
      font-family: inherit;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1.2em;
      color: $brown;
    }

    @media screen and (max-width: 1024px) {
      font-size: 1em;
    }
  }

  .request-input-line-bottom {
    position: relative;
    //padding-right: 5px;
    width: 100%;

    & {
      text-align: left;
      font-size: 1.2em;
      font-family: inherit;
      color: $brown;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 1px solid $mediumGray;
    }

    @media screen and (max-width: 1024px) {
      font-size: 1em;
    }
  }
}

.text-right {
  text-align: right;
}

.label-right {
  text-align: right;
  margin-right: 0;
}

.label-left {
  margin-left: 0;
}

.item {
  z-index: 99;
  position: relative;
  padding: 5px;
  background-color: $mediumGrayTransparent;
  border-bottom: 1px solid $lightGray;

  &:hover {
    background-color: $mediumGray;
    cursor: pointer;
  }
}

.scrollProducts {
  position: relative;
  margin: 0;
  width: 95%;
  z-index: 99;
  max-height: 200px;

}

.request-form-group {

  perfect-scrollbar {
    .ps {
      width: 100%;
    }

    .ps--active-y {
      border: 1px solid red;
    }

    .ps-content {
      margin: 0;
      width: 100%;
    }

  }
}

.prod-not-found {
  position: relative;

  & {
    padding: 10px auto;
    text-align: center;
    border-radius: 0 0 6px 6px;
    z-index: 5;
    background: $lightDanger;
    color: $white;
  }
}

.scrollProducts > .ps {
  width: unset;
}

.btn-almoxarife {
  margin-top: 10px;
  margin-left: 5px;
}

.scroll {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  max-height: 200px;
  z-index: 4;
}

