@import '../../color.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.container-header {
  position: relative;
  margin: 2em 5em;

  & {
    color: $brown;
    font-family: "Poppins SemiBold", sans-serif;
  }

  .title-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .label {
    display: inline;
    font-family: "Poppins ExtraLight", sans-serif;
    margin-right: 5px;
  }

  .label-description {
    display: inline;
  }
}

.container-request {
  position: relative;
  padding: 15px;
  margin: 0 3em;
  height: 60%;

  & {
    color: $brown;
    font-family: "Poppins Light", sans-serif;
    background-color: $mediumGrayTransparent;
    border-radius: 20px;
  }
  .title {
    font-family: "Poppins ExtraBold", sans-serif;
    text-align: center;
  }

  .main-content-header {
    margin-bottom: 15px;
  }

  .main-content {
    position: relative;
    padding: 10px 5px 10px 20px;
    height: 85%;
    width: 95%;
    & {
      background-color: rgba($lightGray, 0.7);
      border-radius: 10px;
    }

    .icon-status{
      font-size: 1.1em;
      margin-left: 2em;
    }
  }

  .arrows-icon {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 1.5em;
  }
}

.left-aside {
  position: relative;
  display: inline-block;
  left: 0;
}

.right-aside {
  position: relative;
  display: inline-block;
  right: 0;
}

.request-form-group {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;

  .request-label {
    position: relative;
    display: block;
    & {
      font-size: 0.8em;
    }
  }

  .request-input-only-read {
    position: relative;
    width: 100%;
    & {
      font-family: inherit;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1.2em;
      color: $brown;
    }
  }

  .request-input-line-bottom {
    position: relative;
    padding: 0;
    width: 100%;
    & {
      text-align: left;
      font-size: 1.2em;
      font-family: inherit;
      color: $brown;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 1px solid $mediumGray;
    }
  }
}

.text-right {
  text-align: right;
}

.label-right {
  text-align: right;
  margin-right: 0;
}

.label-left {
  margin-left: 0;
}

.list{
  position: absolute;
  z-index: 99;
  .item{
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid $lightGray;

    &:hover{
      background-color: $mediumGray;
    }
  }
}
