<div class="col-12 float-left" role="main">
    <div class="col-4 form-group float-right">
        <form [formGroup]="searchForm">
            <input type="text"
                   formControlName="searchControl"
                   class="form-control filter-control col-5 float-right"
                   placeholder="Buscar fornecedor..." #field>
        </form>
    </div>
    <hcal-table tableName="Fornecedor - Quantidade {{ count }}">
        <table class="table-default">
            <tr class="trow-head">
                <th class="thead-default" thead-content>fantasia</th>
                <th class="thead-default" thead-content>telefone</th>
                <th class="thead-default" thead-content>endereço</th>
                <th class="thead-default" thead-content>estado</th>
                <th class="thead-default" thead-content>e-mail</th>
                <th class="thead-default" thead-content colspan="2">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </th>
            </tr>
            <tr class="trow-content" *ngFor="let fornecedor of fornecedorList
            | paginate: { currentPage: pageNumber, itemsPerPage: 10, totalItems: count }">
                <td class="tdata-default">{{ fornecedor.fantasia }}</td>
                <td class="tdata-default">{{ fornecedor.telefone | mask: '(00) 0000-0000' }}</td>
                <td class="tdata-default">{{ fornecedor.endereco }}</td>
                <td class="tdata-default">{{ fornecedor.ativo == true ? 'Ativo' : 'Inativo' }}</td>
                <td class="tdata-default">{{ fornecedor.email }}</td>
                <td class="tdata-default">
                    <a class="edit" [routerLink]="['/fornecedor', 'edit', fornecedor.id]">
                        <fa-icon [icon]="['fas', 'edit']" class="color-blue icon-config"></fa-icon>
                    </a>|
                    <a class="edit" [routerLink]="['/fornecedor', 'show', fornecedor.id]">
                        <fa-icon [icon]="['fas', 'eye']" class="color-blue icon-config"></fa-icon>
                    </a>
                </td>
            </tr>
        </table>
        <div class="not-found" *ngIf="fornecedorList.length == 0">
            <h1 class="loading-style color-blue" *ngIf="loading">Carregando...</h1>
            <h1 class="not-found-error" *ngIf="fornecedorList.length == 0 && !loading && field.value == ''">
                Não há dados cadastrados
            </h1>
            <h1 class="not-found-error" *ngIf="fornecedorList.length == 0 && !loading">
                Nenhum Fabricante encontrado com a fantasia: {{ field.value }}
            </h1>
        </div>
    </hcal-table>
    <pagination-controls *ngIf="count > 10" (pageChange)="pageNumber = $event" previousLabel="" nextLabel=""
                         [directionLinks]="true"></pagination-controls>
</div>
<div class="container-floating">
    <div class="floating-button" tooltip="Novo" [placement]="'top'" [show-delay]="0">
        <a [routerLink]="['/fornecedor', 'create']" class="create a-link-page">
            <p class="plus">+</p>
        </a>
    </div>
</div>