<a [routerLink]="['/item', 'list']" class="float-left">
    <fa-icon [icon]="['fas', 'chevron-left']" class="float-left back-icon-link"></fa-icon>
    <h4 class="title-back-link">Voltar</h4>
</a>
<div class="clearfix"></div>
<h3 class="title-component">{{ constructor.name | slice : 0:-13 }} - Visualização</h3>
<div class="content col-2 show-container float-left">
    <div class="width-auto float-left bg-blue show-head">
        <span class="icon-show-head">
            <fa-icon [icon]="['fas', 'box']" class="float-left color-white"></fa-icon>
        </span>
    </div>
    <div class="float-right col-6 show-content">
        <div class="col-12 float-left">
            <span class="title-span-show">descrição</span>
            <span class="content-span-show offset-1">
                {{ item.descricao }}
            </span>
        </div>
        <div class="col-12 float-left">
            <span class="title-span-show">fabricante</span>
            <span class="content-span-show offset-1" *ngFor="let f of this.aFabricantes">
                {{ f.fantasia }}
            </span>
        </div>
        <div class="col-12 float-left">
            <span class="title-span-show">fornecedor</span>
            <span class="content-span-show offset-1" *ngFor="let f of this.aFornecedores">
                {{ f.fantasia }}
            </span>
        </div>
        <div class="col-12 float-left">
            <span class="title-span-show">ativo</span>
            <span class="content-span-show offset-1">
                {{ item.ativo == true ? 'Ativo' : 'Inativo' }}
            </span>
        </div>
        <div class="clearfix"></div>
        <div class="col-12 float-left">
            <div class="btn-settings-show float-right">
                <a class="edit" [routerLink]="['/item', 'edit', item.id]">
                    <fa-icon [icon]="['fas', 'edit']" class="color-green icon-config"></fa-icon>
                </a>
                <button class="btn-block edit" (click)="destroy()">
                    <fa-icon [icon]="['fas', 'trash']" class="color-danger icon-config"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>