<a [routerLink]="['/item']">
    <fa-icon [icon]="['fas', 'chevron-left']" class="float-left back-icon-link"></fa-icon>
    <h4 class="title-back-link">Voltar</h4>
</a>
<div class="clearfix"></div>
<main class="col-6 float-left form-container offset-0">
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <h3 class="title-component">{{ this.constructor.name | slice : 0:-16 }} - {{create ? "Cadastro" : "Alteração"}}</h3>
    <form name="save{className}" (ngSubmit)="save()" class="float-left form-default col-12">
        <div class="form-group position-relative col-4">
            <label for="descricao" class="control-label">Descrição</label>
            <input type=""
                   name="descricao"
                   tooltipHcal="Campo descrição do Item. Ex.: "
                   [position]="'top'"
                   [delay]="3000"
                   required="required"
                   id="descricao"
                   placeholder="Digite a descrição..."
                   [(ngModel)]="item.descricao"
                   [class]="'form-control col-12'">
        </div>
        <div class="form-group position-relative col-8 offset-1">
            <label class="control-label">Unidade de Medida</label>
            <hcal-dual-listbox [data]="aUnidadeMedida" [display]="'descricao'"></hcal-dual-listbox>
        </div>
        <div class="form-group position-relative col-5 offset-2">
            <label for="unidade" class="control-label">Unidades de Medidas</label>
            <hcal-custom-dual-list id="unidade" [key]="'id'" [(fieldDestination)]="this.item.unidadeMedida" [display]="'Unidade de Medida'" [data]="aUnidadeMedida" [sort]="true"></hcal-custom-dual-list>
        </div>
        <div class="form-group col-2 offset-1">
            <label class="control-label">Estado</label>
            <input type="checkbox" [(ngModel)]="item.ativo" class="checkbox-filled" id="estado" name="ativo">
            <label for="estado" class="checkbox-label">Ativo</label>
        </div>
        <input type="submit" class="save button button-blue float-right col-3" [value]="create ? 'Salvar' : 'Alterar'" />
    </form>
</main>
